<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    
    <body>
        <ul>
			<% _.each(breadcrumb, function(brdcrmb){ %>
					<a href="<%= brdcrmb.url %>"><%= brdcrmb.label %></a>
					>
			<% }); %>
		</ul>
        <h1><%= title %></h1>
        <ol>
            <% _.each(items, function(topC) { %>
            <li>
                <h1><%= topC.name %></h1>
                <p><%= topC.page_description %></p>
                <% if (topC.image) { %>
                <div>
                    <img src="/images/<%= topC.image %>">
                </div>
                <% } %>
                <div>
                    <ol>
                        <% _.each(topC.categories, function(subC) { %>
                        <li>
                            <h2><%= subC.name %></h1>
                            <p><%= subC.page_description %></p>
                            <% if (subC.image) { %>
                            <div>
                                <img src="/images/<%= subC.image %>">
                            </div>
                            <% } %>

                            <button onclick="location.href = '/categories/<%= subC.id %>';">View products</button>
                        </br>
                        </li>
                        <% }); %>                    
                    </ol>
                </div> 
            </br>
            </br>
            </br>   
            </li>
            <% }); %>
        </ol>
    </body>
</html>