<!DOCTYPE html>
<html>
	<head>
    	<title><%= title %></title>
    	<link rel="stylesheet" href="/stylesheets/style.css" />
  	</head>
  	
  	<body>
	  	<ul>
			<% _.each(breadcrumb, function(brdcrmb){ %>
					<a href="<%= brdcrmb.url %>"><%= brdcrmb.label %></a>
					>
			<% }); %>
		</ul>
    	<h1><%= title %></h1>
    	<p>Welcome to <%= title %></p>
		<a href="/categories">Go to Shop</a>
  	</body>
</html>