<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    
    <body>
        <ul>
			<% _.each(breadcrumb, function(brdcrmb){ %>
					<a href="<%= brdcrmb.url %>"><%= decodeURI(brdcrmb.label) %></a>
					>
			<% }); %>
		</ul>

        <h1><%= items.name %></h1>


        <table width="1000px">

            <% var localCounter = 0;
            _.each(items, function(topC) { %>
                <td width="25%">
                    <h2 style="overflow:hidden"><%= topC.name %></h2>
                    <% var imageUrl = topC.image_groups[0].images[0].link; %>
                    <img src="/images/<%= imageUrl %>" height="350px"/>
                </td>
                <td width="30%">
                    <div style="padding-left:10px">
                        <div style="height:300px; overflow:auto; padding-top:50px">
                            <p style="word-wrap: break-word; width: 310px;">   	
                                <%- topC.page_description %>
                                <%- topC.long_description %>
                            </p>
                        </div>
                        <div style="height:50px">

                                <label id="price">
                                    <% var currency;
                                       if(topC.currency === "USD")
                                            currency = "$ ";
                                       else if(topC.currency === "EUR")
                                            currency = "€ ";
                                       else if(topC.currency === "TRY")
                                            currency = "₺ ";
                                     %>
                                    Price: <%= currency %> <%= topC.price %>
                                </label>

                                <select id="selectPicker" onchange="leaveChange()" class="selectpicker" data-style="btn-info" name="selectpicker"
                                style="float:right; width:100px">
                                    <optgroup label="Currency">
                                        <option name=""       value='<%= items[0].currencies[0] %>'><%= items[0].currencies[0] %></option>
                                        <option name="table1" value='<%= items[0].currencies[1] %>'><%= items[0].currencies[1] %></option>
                                        <option name="table2" value='<%= items[0].currencies[2] %>'><%= items[0].currencies[2] %></option>
                                    </optgroup>
                                </select>
                        </div>
                    </div>
                </td>
                <td width="45%">
                </td>
            <% }); %>
    
    <script>
        document.getElementById("selectPicker").value = '<%= items[0].currency %>';
        function leaveChange() {
            var currentCur = document.getElementById("selectPicker").value;
            var breadCrumbUrl = '<%= decodeURI(breadcrumb[breadcrumb.length-1].url) %>';
            if(breadCrumbUrl.indexOf("USD") > 0 || breadCrumbUrl.indexOf("EUR") > 0 || breadCrumbUrl.indexOf("TRY") > 0)
                breadCrumbUrl = breadCrumbUrl.substring(0, breadCrumbUrl.length-4);
            var find = 'amp;';
            var re = new RegExp(find, '');

            breadCrumbUrl = breadCrumbUrl.replace(re, '');
            location.href = breadCrumbUrl + '/' + currentCur;
        }
    </script>        
    </body>
</html>