<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    
    <body>
        <ul>
			<% _.each(breadcrumb, function(brdcrmb){ %>
					<a href="<%= decodeURI(brdcrmb.url) %>"><%= decodeURI(brdcrmb.label) %></a>
					>
			<% }); %>
		</ul>

        <h1><%= items.name %></h1>


        <table width="1000px">

            <% var localCounter = 0;
            _.each(items, function(topC) { %>
            <% if(localCounter%2 === 0) { %>
                <tr>
            <% } %>
                <td width="190px" >
                    <h4 style="width=190; overflow:hidden"><%= topC.name %></h4>
                    <% var imageUrl = products[localCounter++].image_groups[0].images[0].link; %>
                    <img src="/images/<%= imageUrl %>" width="190" height="190" />
                </td>
                <td width="310px">
                    <div style="height:160px; padding-left:10px">
                        <div style="height:180px; overflow:auto;">
                        <p style="word-wrap: break-word; width: 310px;">   	
                            <%- topC.page_description %>
                        </p>
                        </div>
                        <div style="height:20px">
                                Price: $ <%= topC.price %>
                            <button style="width:100px; margin-left:50px;"
                            onclick="location.href = '<%= decodeURI(breadcrumb[breadcrumb.length-1].url) %>/<%= topC.name %>';">More Info</button>
                        </div>
                    </div>
                </td>
            <% if(localCounter%2 === 0) { %>
                </tr>
            <% } %>
            <% }); %>

        
    	

        <!--
        <ol>
            <h1><%= items.name %></h1>
            <% var localCounter = 0;
            _.each(items, function(topC) { %>
            <li>
                <h1><%= topC.name %></h1>
                <% var imageUrl = products[localCounter++].image_groups[0].images[0].link; %>
                
                <div>
                    <%= topC.page_description %>
                    <img src="/images/<%= imageUrl %>">

                </div>
                
            </br>
            </br>
            </br>   
            </li>
            <% }); %>
        </ol>
        -->
    </body>
</html>