<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    
    <body>
        <ul>
			<% _.each(breadcrumb, function(brdcrmb){ %>
					<a href="<%= brdcrmb.url %>"><%= decodeURI(brdcrmb.label) %></a>
					>
			<% }); %>
		</ul>
        <ol>
            <h1> <%= items[0].categories[0].name %> </h1>
            <% _.each(items[0].categories[0].categories, function(topC) { 
                if (topC.c_showInMenu) {%>
            <li>
                <h2><%= decodeURI(topC.name) %></h2>
                <p><%= decodeURI(topC.page_description) %></p>
                <% if (topC.image) { %>
                <div>
                    <img src="/images/<%= topC.image %>">
                </div>
                <% } %>
                
                <button onclick="location.href = '<%= breadcrumb[breadcrumb.length-1].url %>/<%= topC.name %>.<%= topC.id %>';">View products</button>  
            </li>
            </br>
            </br>
            </br>
            <% } }); %>
        </ol>
    </body>
</html>